hadoop-1.2.1/.eclipse.templates/
hadoop-1.2.1/CHANGES.txt
hadoop-1.2.1/LICENSE.txt
hadoop-1.2.1/NOTICE.txt
hadoop-1.2.1/README.txt
hadoop-1.2.1/bin/
hadoop-1.2.1/build.xml
hadoop-1.2.1/c++/
hadoop-1.2.1/contrib/
hadoop-1.2.1/docs/
hadoop-1.2.1/hadoop-ant-1.2.1.jar
hadoop-1.2.1/hadoop-client-1.2.1.jar
hadoop-1.2.1/hadoop-core-1.2.1.jar
hadoop-1.2.1/hadoop-examples-1.2.1.jar
hadoop-1.2.1/hadoop-minicluster-1.2.1.jar
hadoop-1.2.1/hadoop-test-1.2.1.jar
hadoop-1.2.1/hadoop-tools-1.2.1.jar
hadoop-1.2.1/ivy.xml
hadoop-1.2.1/ivy/
hadoop-1.2.1/lib/
hadoop-1.2.1/libexec/
hadoop-1.2.1/logs/
hadoop-1.2.1/sbin/
hadoop-1.2.1/share/
hadoop-1.2.1/src/
hadoop-1.2.1/webapps/
.ICEauthority
.Xauthority
.Xdefaults
.aptitude/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dmrc
.eclipse/
.fontconfig/
.gconf/
.gnome2/
.goutputstream-AUTI5W
.gstreamer-0.10/
.gtk-bookmarks
.images/
.kde/
.lesshst
.local/
.mozilla/
.pam_environment
.profile
.pulse-cookie
.pulse/
.ssh/
.subversion/
.swt/
.thumbnails/
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-seamless.pid
.vim/
.viminfo
.xscreensaver
.xsession-errors
.xsession-errors.old
Desktop
cdm_uebungen_datensatz_1.rar
eclipse_workspace/Hadoop/bin
praktikum
working_dir
hadoop-1.2.1/conf
